<div class="col-sm-12 col-md-6">
  <div class="mb-3">
    <h2 class="Titulo-pagina">Ya tienes cuenta !!! / Logueate</h2>
  </div>
  <form id="login" class="login" method="post" action="/users/login">
    <div class="container">
      <div class="row mb-3">
        <label for="email-login">Email</label>
        <input type="text" id="email-login" name="email" class="form-control" placeholder="Ingrese su email"
          id="email-login" aria-describedby="emailHelp">
        <div id="msjEmail-login" class="invalid-feedback d-none">
          El email es requerido.
        </div>
      </div>
      <div class="row mb-3">
        <label for="password-login">Contraseña</label>
        <input type="password" id="password-login" name="password" class="form-control"
          placeholder="Ingrese su contraseña" id="password">
        <div id="msjpassword-login" class="invalid-feedback d-none">
          La password es requerida.
        </div>
      </div>
      <div class="row mb-5 justify-content-end">
        <button type="submit" class="btn btn-primary">Loguearse</button>
      </div>
    </div>
  </form>
</div>
