<div class="col-sm-12 col-md-6">
  <div class="mb-3">
    <h2 class="Titulo-pagina">Ya tienes cuenta !!! / Logueate</h2>
  </div>
  <form class="login" method="post" action="/user/login">
    <div class="container">
      <div class="row mb-3">
        <label for="Email">Apellido</label>
        <input type="text" name="email-login" class="form-control" placeholder="ingrese su email" id="email-login"
          aria-describedby="emailHelp" required>
      </div>
      <div class="row mb-3">
        <label for="password">Contraseña</label>
        <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" id="password"
          required>
      </div>
      <div class="row mb-5 justify-content-end">
        <button type="submit" class="btn btn-primary">Loguearse</button>
      </div>
    </div>
  </form>
</div>
