<div class="col-sm-12 col-md-6">
  <div class="mb-3">
    <h2 class="Titulo-pagina">No tienes cuenta ? / Completá tus datos</h2>
  </div>
  <form id="registration" method="post" action="/user/register">
    <div class="container">
      <!-- Name -->
      <div class="row mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control"
        placeholder="Ingrese su nombre" id="nombre" aria-describedby="emailHelp">
        <div id="msjNombre" class="invalid-feedback d-none">
          El nombre es requerido.
        </div>
      </div>

      <!-- Last name -->
      <div class="row mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" class="form-control"
        placeholder="Ingrese su apellido" id="apellido" aria-describedby="emailHelp" >
        <div id="msjApellido" class="invalid-feedback d-none">
          El apellido es requerido.
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" class="form-control"
        placeholder="Ingrese su email" id="email" aria-describedby="emailHelp" >
        <div id="msjEmail" class="invalid-feedback d-none">
          El email es requerido.
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control"
          placeholder="La contraseña debe tener 6 caracteres como mínimo." id="password" >
        <div id="msjPassword" class="invalid-feedback d-none">
          La contraseña es requerido y debe tener al menos 6 caracteres.
        </div>
      </div>

      <!-- Repeat password -->
      <div class="row mb-3">
        <label for="repetirPassword">Repetir contraseña</label>
        <input type="password" id="repetirPassword" name="passwordRepeat" class="form-control"
        placeholder="" id="repetirPassword" >
        <div id="msjRepetirPassword" class="invalid-feedback d-none">
          Debe repetir la contraseña.
        </div>
      </div>

      <!-- Add image -->
      <div class="row mb-3">
        <label for="imagen">Añadir imagen</label>
        <input type="file" name="avatar" class="form-control" placeholder="Foto Perfil" id="imagen">
      </div>
      <!-- Create account -->
      <div class="row mb-5 justify-content-end">
        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
      </div>
    </div>
  </form>
</div>
