<!-- Head -->
<%- include('partials/head', { title: 'Añadir producto' }) %>

<!-- Header -->
<%- include('partials/headerNavbar') %>

<div class="container mt-5 mb-5">
  <div class="row" class="col-6">
    <div class="col-12 mb-3">
      <a href= "aaa.jpg"></a>
    </div>
  </div>
  <div class="row" class='col-6'>
    <div class="col-12 mb-3">
      <a href= "../public/images/brokenBike.jpg"> </a>  </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <h4>Lo sentimos, no se pudo encontrar lo que buscas</h4>
        <h5>Volver a la
          <a href="#">home page</a>
        </h5>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('partials/footer') %>





