<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cargar producto</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Cargar producto</h2>
      </div>
    </div>
  </div>
</body>

</html>
