<!DOCTYPE html>
<html lang="en">
        <!-- Head -->
        <%- include('partials/head', {title:'Carrito'}) %>
        <!-- Final del head -->
<body>
    <div class="container">
        <div class="row">
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- Final del header -->
        </div>
        <br>

        <h1 class="Titulo-pagina">Tu compra</h1>
        <!-- Sección de las tarjetas (cards) -->

            <!-- Card 1 -->
            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <br>
                    <img src="img/productCart/Bici-1.jpeg" class="card-img" alt="imagen-bici-1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">$ 53.750</h4>
                        <h5 class="card-title">Ghost SL AMR X 7.9 Full Suspension Bike 2019</h5>
                        <p class="card-text">Ghost SL AMR X 7.9 Full Suspension Bike<br>
                            Slamr by name and by nature, the boisterous X7.9 will have you bashing through berms and diving in to dips as you seek the most thrilling trails and rowdiest routes.</p>
                            <p class="card-text"><small class="text-muted">Envio gratis</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <br>
                        <img src="img/productCart/bici-2.png" class="card-img" alt="imagen-bici-2">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">$ 114.300</h4>
                            <h5 class="card-title">Nukeproof Mega 275 Factory Carbon Bike (XT) 2020</h5>
                            <p class="card-text">Nukeproof Mega 275 Factory Carbon Bike (XT)<br>
                                This Nukeproof Mega model features 27.5” wheels, a carbon/alloy construction, Fox Factory suspension, a Shimano XT 12-Speed groupset and modern geometry.</p>
                                <p class="card-text"><small class="text-muted">Envio gratis</small></p>
                            </div>
                        </div>
                    </div>
            </div>

            <!-- Card 3 -->
            <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <br>
                            <img src="/img/productCart/bici-3.png" class="card-img" alt="imagen-bici-3">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">$ 78.950</h4>
                                <h5 class="card-title">Cube Acid 29 Hardtail Bike 2020</h5>
                                <p class="card-text">Cube Acid 29 Hardtail Bike<br>
                                    Engineered for efficiency and fun on the mountain biking trails of today, this ride features a modern frame design with a refined geometry to match.</p>
                                    <p class="card-text"><small class="text-muted">Costo del envio: $1500</small></p>
                                </div>
                            </div>
                        </div>
            </div>

            <!-- Card 4 Total del carrito -->
            <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Total a pagar</h5>
                            <p class="card-text">Productos(3)</p><p>$247.000</p><p>Envio a Av. Colón 111, Piso 11, Dpto 1</p>
                            <a href="#" class="btn btn-primary">Continuar comprando</a>
                        </div>
            </div>
    </div>


    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- /Footer -->

    <!-- Scripts Bootstrap -->
    <%- include('partials/bootstrapScripts') %>
    <!-- /Scripts Bootstrap -->
</body>
</html>