<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link href="https://fonts.google.com/specimen/Montserrat" rel="stylesheet"> 
  <link href="https://fonts.google.com/specimen/Open+Sans" rel="stylesheet"> 
  <title>Registrate en BikeWorld</title>
</head>
<body>
  <div class="container">
    <div class="row">
      
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- Final del header -->
    </div>
    <br>
    <h1 class="Titulo-pagina">Completá tus datos</h1>
    
    <!-- Formulario  -->
    <form method="post" action="">
      <div class="container">
        <div class="row">
          
          <!-- Campo nombre -->
          <div class="form-group" class="col-sm-12 col-md-6 col-lg4">
            <label for="nombre"></label>
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" id="nombre" aria-describedby="emailHelp" required>
          </div>
          
          <!-- Campo Apellido -->
          <div class="form-group" class="col-sm-12 col-md-6 col-lg4">
            <label for="apellido"></label>
            <input type="text" name="apellido" class="form-control" placeholder="Apellido" id="apellido" aria-describedby="emailHelp" required>
          </div>
          
          <!-- Campo email -->
          <div class="form-group" class="col-sm-12 col-md-6 col-lg4">
            <label for="email"></label>
            <input type="email" name="email" class="form-control" placeholder="E-mail" id="email" aria-describedby="emailHelp" required>
          </div>
          
          <!-- Campo password -->
          <div class="form-group" class="col-sm-12 col-md-6 col-lg4">
            <label for="password"></label>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" id="password" required>
            <small id="passwordHelpBlock" class="form-text text-muted"> La contraseña debe tener 6 caracteres como mínimo.</small>
          </div>
          
          <!-- Campo repetir password -->
          <div class="form-group" class="col-sm-12 col-md-6 col-lg4">
            <label for="repetirPassword"></label>
            <input type="password" name="passwordRepeat" class="form-control" placeholder="Repetir contraseña" id="repetirPassword" required>
          </div>
          <br>
          
          <!-- Campo botón crear cuenta -->
          <div class="col-sm-12 col-md-6 col-lg4">
            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
          </div>
          
          <!-- Campo ya tenes cuenta? Ingresar -->
          <div class="col-12" class="yaTenesCuenta"> ¿Ya tenes cuenta?<a target="" href="" >  Ingresar</a>
          </div>
        </div>
      </div>
    </form>
    <!-- Final del formulario -->
    
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- /Footer -->
    
    <!-- Scripts Bootstrap -->
    <%- include('partials/bootstrapScripts') %>
    <!-- /Scripts Bootstrap -->
  </div>
</body>
</html>