<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', { title: 'Registro' }) %>
<!-- /Head -->
<body>
  <!-- Header -->
  <%- include('partials/headerNavbar') %>
  <!-- /Header -->
  <div class="container mt-5 mb-5">
    <div class="row">
    </div>
    <div class="col-12 mb-3">
      <h2 class="Titulo-pagina">Completá tus datos</h2>
    </div>

    <!-- Form -->
    <form method="post" action="/user/register">
      <div class="container">
        <div class="row">

          <!-- Name -->
          <div id="formulario" class="col-sm-12 col-md-7 col-lg4">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder=""
            id="nombre" aria-describedby="emailHelp" required>
          </div>
          <br>
          <br>

          <!-- Last name -->
          <div id="formulario" class="col-sm-12 col-md-7 col-lg4">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" class="form-control" placeholder=""
            id="apellido" aria-describedby="emailHelp" required>
          </div>
          <br>
          <br>

          <!-- Email -->
          <div id="formulario" class="col-sm-12 col-md-7 col-lg4">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" placeholder=""
            id="email" aria-describedby="emailHelp" required>
          </div>
          <br>
          <br>


          <!-- Password -->
          <div id="formulario" class="col-sm-12 col-md-7 col-lg4">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control"
            placeholder="La contraseña debe tener 6 caracteres como mínimo."
            id="password" required>
          </div>
          <br>
          <br>

          <!-- Repeat password -->
          <div id="formulario" class="col-sm-12 col-md-7 col-lg4">
            <label for="repetirPassword">Repetir contraseña</label>
            <input type="password" name="passwordRepeat" class="form-control"
            placeholder="" id="repetirPassword" required>
          </div>
          <br>
          <br>
          <br>

          <!-- Add image -->
          <div id="formulario" class="col-sm-12 col-md-7 col-lg4">
            <label for="imagen">Añadir imagen</label>
            <input type="file" name="avatar" class="form-control" placeholder="Foto Perfil"
            id="imagen" required>
          </div>
          <br>
          <br>
          <br>

        </div>
<br>

        <div>

          <!-- Create account -->
          <div id="formulario" class="col-12 col-md-7 mb-3">
            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
          </div>

          <!-- Already have an account? Enter -->
          <div class="col-12" id="yaTenesCuenta">
            ¿Ya tenes cuenta? <a target="" href="" >  Ingresar</a>
          </div>

        </div>
      </div>
    </form>
    <!-- /Form -->
  </div>
  <!-- Footer -->
  <%- include('partials/footer') %>
  <!-- /Footer -->


</body>
</html>
