<footer class="page-footer font-small indigo">

  <div class="container">

    <!-- Grid row -->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column (address)-->
      <div class="col-md-2 mb-3">
        <i class="fas fa-map-marker-alt fa-2x"></i>
        <h5>
          <a href="https://goo.gl/maps/XxCwtRAbey7Maz4v7">Encontranos en:<br> Av. Colón 1234<br>
            Córdoba Capital<br>CP X5003
          </a>
        </h5>
      </div>

      <!-- Grid column (phone number) -->
      <div class="col-md-2 mb-3">
        <i class="fab fa-whatsapp fa-2x"></i>
        <h5>
          <a href="tel:+549351-1234567">0351-1234567</a>
        </h5>
      </div>

      <!-- Grid column (email)-->
      <div class="col-md-2 mb-3">
        <i class="far fa-envelope fa-2x"></i>
        <h5>
          <a href="mailto:info@bikeworld.com">info@bikeworld.com</a>
        </h5>
      </div>

      <!-- Grid column (social networks) -->
      <div class="col-md-2 mb-3">

        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f fa-2x white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter fa-2x white-text mr-4"> </i>
        </a>
        <!-- Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram fa-2x white-text mr-4"> </i>
        </a>

        <h5>Seguinos</h5>
      </div>

      <!-- Grid column (suscribe)
       Grid column (suscribe) ->
      <div class="col-md-2 mb-3" id="sucribirse">
        <label for="email"></label>
        <input type="email" name="email" class="form-control" placeholder="E-mail" id="email">
        <button type="button" id= "btn-suscr-footer" class="btn btn-dark">Suscribirse</button>
      </div>
    -->
    
    </div>

    <!-- Grid row -->

    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-12">
        <ul id="listaInline">
          <li><a href="#"><h6>Términos y condiciones   |</h6></a></li>
          <li><a href="#"><h6>Políticas de privacidad   |</h6></a></li>
          <li><a href="#"><h6>Cookies   |</h6></a></li>
          <li><a href="#"><h6>Mapa del sitio</h6></a></li>
          <li><h6>© BikeWorld 2020</h6></li>
        </ul>
      </div>
    </div>

    <br>
  </div>

</footer>
