<footer class="container-fluid bg-secondary text-light">
  <div class="row text-center p-5">
    <div class="col-12 col-md-3">
      <i class="fas fa-map-marker-alt fa-2x"></i>
      <a href="https://goo.gl/maps/XxCwtRAbey7Maz4v7" class="text-light">
        <p>Encontranos en:<br>Av. Colón 1234<br>Córdoba Capital<br>CP X5003</p>
      </a>
    </div>
    <div class="col-12 col-md-3">
      <i class="fab fa-whatsapp fa-2x"></i>
      <a href="tel:+5493511234567" class="text-light">
        <p>0351-1234567</p>
      </a>
    </div>
    <div class="col-12 col-md-3">
      <i class="far fa-envelope fa-2x"></i>
      <a href="mailto:info@bikeworld.com.ar" class="text-light">
        <p>info@bikeworld.com.ar</p>
      </a>
    </div>
    <div class="col-12 col-md-3">
      <i class="fab fa-facebook fa-2x mr-4"></i>
      <i class="fab fa-twitter fa-2x mr-4"></i>
      <i class="fab fa-instagram fa-2x"></i>
      <p>¡Seguinos!</p>
    </div>
  </div>
  <div class="row text-light text-center">
    <div class="col-12">
      <ul class="inline-list">
        <li>Términos y condiciones</li>
        <li>Políticas de privacidad</li>
        <li>Cookies</li>
        <li>Mapa del sitio</li>
      </ul>
      <ul class="inline-list">
        <li>© BikeWorld 2020</li>
      </ul>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
