<div id="row1" class="row d-flex flex-row justify-content-end align-items-baseline row1">
  <div class="col-6 col-md-3"><a href="/users/login">Ingresar | Registrarme</a></div>

</div>
<div id="row2" class="row row2 d-flex align-items-center justify-content-around">
  <div class="col-9 d-flex">
    <div class="d-flex flex-row align-items-center">
      <a href="/">
        <img src="/images/logo-nombre-nueva.png" alt="logo"
          style="margin-right:0; padding-right: 0; height: 80%;">
      </a>
    </div>
  </div>
  <div id="buscar" class="col-3 d-flex flex-end">
    <form action="/products" method="GET" class="search-form">
      <input type="text" name="q" placeholder="Buscar productos, marcas y más" class="search-form_input">
      <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
    </form>
    <div style="margin-left: 10px;"><a href="/cart"><i class="fa fa-shopping-cart carrito"></i></a></div>
  </div>
</div>
<div id="row3" class="row row3 d-flex">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <a class="navbar-brand" href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Bicis por estilo
                <i class="fa fa-sort-down"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Ruedas
                <i class="fa fa-sort-down"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Componentes
                <i class="fa fa-sort-down"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Accesorios
                <i class="fa fa-sort-down"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Indumentaria
                <i class="fa fa-sort-down"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Taller
                <i class="fa fa-sort-down"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
