<div class="row">
  <div class="col-12 col-md-6 pt-3 pt-md-0">

    <div class="form-group">
      <label for="inputName">Nombre</label>
      <input type="text"
             class="form-control"
             id="inputName"
             name="name">
      <div id="msjInputName" class="invalid-feedback d-none">
        El nombre es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="inputPrice">Precio</label>
      <input type="number"
             class="form-control"
             id="inputPrice"
             name="price">
      <div id="msjInputPrice" class="invalid-feedback d-none">
        El precio es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="inputDiscount">Descuento</label>
      <input type="number"
             class="form-control"
             id="inputDiscount"
             name="discount">
    </div>

    <div class="form-group">
      <label for="inputCategory">Categoría</label>
      <input type="text"
             class="form-control"
             id="inputCategory"
             list="categories"
             name="category"
             required="required"
             autocomplete="off">
      <datalist id="categories">
        <% categories.forEach(category => { %>
          <option value="<%= category.name %>"></option>
        <% }) %>
      </datalist>
      <div id="msjInputCategory" class="invalid-feedback d-none">
        La categoría es requerida.
        </div>
    </div>

    <div class="form-group">
      <label for="inputDescription">Descripción</label>
      <textarea name="description"
                id="inputDescription"
                cols="30"
                rows="10"
                class="form-control"></textarea>
      <div id="msjInputDescription" class="invalid-feedback d-none">
        La descripción es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="inputStatus">Estado</label>
      <input type="text"
             class="form-control"
             id="inputStatus"
             list="states"
             name="status"
             required="required"
             autocomplete="off">
      <datalist id="states">
        <% states.forEach(status => { %>
          <option value="<%=status.name %>"></option>
        <% }) %>
      </datalist>
      <div id="msjInputStatus" class="invalid-feedback d-none">
        El status es requerido.
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 order-first order-md-last">
    <label for="inputImage">Imagen</label><br>
    <input type="file" id="inputImage" name="image">
  </div>
